  <script>
   $(document).ready(function () {
    $("#theTarget").skippr({
     // スライドショーの変化
      transition : 'slide',
     // 変化に係る時間(ミリ秒)
      speed : 1000,
     // easingの種類
      easing : 'easeOutQuart',
     // ナビゲーションの形
      navType : 'block',
      childrenElementType : 'div',
     // ナビゲーション矢印の表示
      arrows : true,
     // スライドショーの自動再生
      autoPlay : true,
     // 自動再生時のスライド切替間隔
      autoPlayDuration : 3000,
     // キーボードの矢印キーによるスライド送りの設定
      keyboardOnAlways : true,
     // 一枚目のスライド表示時に戻る矢印を表示するかどうか
      hidePrevious : false
     });
    });
   </script>
    <div class="container  scriptcontain slideshow">
     <div id="theTarget">
      <div class="image1"></div>
      <div class="image2"></div>
      <div class="image3"></div>
     </div>
    </div>
    <!-- 藤田恵名 -->
    <div class="center-cd">
      <h1>藤田恵名特集</h1>
    </div>
   <div class="wrap"></div>
    <!-- ここからスライドショー下 -->
   <div class="bigboss">
    <% @cds.each do |cd| %>
     <div class="loopbox">
      <div class="slidebox clearfix">
       <%= link_to cd_path(cd.id) do %>
  		  <div class="indexitem">
         <%= attachment_image_tag cd, :jacket, :fill, 250, 250, fallback: "no_cd_image_fill250.png" %>
        </div>
       <div class="indexitem">
        <strong><%= cd.title %></strong>
       </div>
      <div class="indexitem">
       <%= cd.label %>
      </div>
     <div class="indexitem">
      <%= cd.price %>
     </div>
    <div class="indexitem">
     <% if cd.stock == 0 %>
      <p>売り切れ</p>
     <% else %>
      <%= cd.sales_status %>
     <% end %>
    </div>
     <div class="indexitem">
      <%= link_to "CD詳細へ", cd_path(cd.id) %>
     </div>
    <% end %>
   </div>
  <% end %>
 </div>
</div>
 <br>
  <div class="center-cd moneyfont">
   <%= paginate(@cds) %>
  </div>
