
<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <%= attachment_image_tag @cd, :jacket, :fill, 400, 400, fallback: "no_cd_image.png" %>
      <br>
      <br>
      <b><%= @cd.title %></b><br><br>
      <% @cd.artists.each do |artist| %>
       <%= artist.artist %>
      <% end %>
      <br>
      <br>
      <p>レーベル : <%= @cd.label %></p>
      <p>ジャンル : <%= @cd.genre %></p>
      
      
        <% @cd.discs.each do |disc| %>
        <p>ディスク名 : <%= disc.disc_name %></p>
        <p>ディスク番号 : <%= disc.include %></p>
        <p>ディスク枚数 : <%= disc.disc_number %></p>
      <% disc.songs.each do |song| %>
        <p>曲名 : <%= song.song %></p>
        <p>曲順 : <%= song.songorder %><p>
      <% end %>
      <% end %>
      <% if @cd.stock == 0 %>
        <h1>売り切れ</h1>
      <% else %>
        <%= @cd.sales_status %>
      <% end %>
      <br><br>
      <button class="btn btn-default">
        <%= link_to "他のCDを探す", root_path %>
      </button>
    </div>

    <div class="col-xs-4">
      <h4>¥<%= @price.floor %>（税込）</h4>
      <%=form_for @cart, url: cd_carts_path(@cd.id)  do |f| %>
        <%= f.hidden_field :cartnumber, value: 1 %>
        <%= f.hidden_field :cd_id, value: @cd.id %>
        <%= f.submit 'カートに入れる', class:"btn btn-success btn-lg"%>
      <% end %>
      <br>



    </div>
  </div>
</div>



