<div class="container">
	<h1>ユーザー一覧</h1>
		<div class="row">
			<%= form_tag admins_index_path, :method => 'get' do %>
				<p>検索</p>
  					<%= text_field_tag :search, params[:search] %>
  					<%= submit_tag "ユーザーを検索する", :name => nil %>
			<% end %>
		</div>
		<div class="row">
			<% @endusers.each do |enduser| %>
			<tr>
				<td><%= enduser.last_name %><%= enduser.first_name %></td>
			</tr>
			<% end %>
		</div>
</div>