<div class="container">
  <h1 style="margin-bottom: 50px;">ログイン</h1>
  <div style="padding: 10px; margin-top: 20px; margin-bottom: 10px; border: 1px solid #3cb371; border-radius: 10px; text-align:center; background-color: #f5f5f5;">
      <div class="row">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
          <div style="margin-bottom: 15px;">
            <%= f.label :メールアドレス %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
          </div>
          <div class="field">
          <div style="margin-bottom: 10px;">
            <%= f.label :パスワード %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="field">
            <div style="margin-bottom: 15px;">
              <%= f.check_box :remember_me %>
              <%= f.label :次回から入力を省略する %>
            </div>
            </div>
        <% end %>
          <div class="actions">
          <div style="margin-bottom: 15px;">
            <%= f.submit "ログイン", class: "btn btn-primary" %>
          </div>
          </div>
        <% end %>
      </div>
      <%= render "endusers/shared/links" %>
  </div>
</div>


