

  <div class="nested-fields">
    <div class="form-group">
    <h5>ディスク名</h5>
    <%= f.text_field :disc_name %>
    <h5>ディスク番号</h5>
    <%= f.number_field :include %>
    <h5>ディスク枚数</h5>
    <%= f.number_field :disc_number %>
    <%= link_to_remove_association "remove disc", f %>
  </div>
</div>

  <div class="songs">
    <%= f.fields_for :songs do |song| %>
    <%= render 'song_fields', f: song %>
    <% end %>

      <%= link_to_add_association 'add songs', f, :songs %>

  </div>
