  <div class="width">
   <h1 class="center-cd htag">商品入荷履歴</h1>
   <div class="parent">
     <%= link_to '在庫確認へ', cd_arrivals_path(@cds), class: 'btn btn-primary submitbtn' %>
     <%= link_to 'CD一覧へ戻る', admin_cds_path, class: 'btn btn-primary submitbtn arrivalbtn' %>
   </div>
      <table class="table table-hover">
       <thead>
        <tr>
         <th class="center-cd">商品追加数</th>
         <th class="center-cd">商品追加日時</th>
         <th class="center-cd">タイトル</th>
         <th class="center-cd">アーティスト</th>
        </tr>
       </thead>
      <tbody>
       <% @arrivals.each do |a| %>
       <tr>
        <td class="center-cd"><%= a.arrival_new %>枚追加</td>
        <td class="center-cd"><%= a.arrival_day %></td>
        <td class="center-cd"><%= a.cd&.title %></td>
        <td class="center-cd"><%= attachment_image_tag a.cd, :jacket, :fill, 60, 60, fallback: "no_cd_image_fill60.png" %></td>
       </tr>
      <% end %>
     </tbody>
    </table>
   <%= paginate(@arrivals) %>
  </div>
