
<h1>新規商品追加画面</h1>

<%= form_for(@cd, url: arrivals_path) do |f| %>
<h4>レーベル</h4>
<%= f.text_field :label %>
<h4>ジャンル</h4>
<%= f.select :genre, @selectjenre %>
<h4>販売ステータス</h4>
<%= f.select :sales_status, @sales_status %>
<h4>価格</h4>
<%= f.number_field :price %>
<h4>消費税</h4>
<%= f.number_field :consumption_tax, step: :any %>
<h4>タイトル</h4>
<%= f.text_field :title %>
<h4>ジャケット</h4>
<%= f.attachment_field :jacket %>

<%= f.fields_for :artists do |artist_field| %>
<h4>アーティスト</h4>
<%= artist_field.text_field :artist %>
<% end %>
<br>
<%= f.fields_for :discs do |disc_field| %>
<h4>ディスク</h4>
<%= disc_field.text_field :disc_name %>
<%= disc_field.number_field :include %>
<%= disc_field.number_field :disc_number %>
<% end %>
<br>
<%= f.fields_for :songs do |songs_field| %>
<h4>曲名</h4>
<%= songs_field.text_field :song %>
<%= songs_field.number_field :songorder %>
<% end %>
<br>
<%= f.submit 'CD追加' %>
<% end %>
