<h1>CD一覧</h1>

<p>CDタイトル検索</p>
<table>
	<%= search_form_for @q do |f| %>
    <%= f.label :title_cont %>
    <%= f.search_field :title_cont %>

    <%= f.submit %>
<% end %>
</table>

<div id="container">
	<div id="theTarget">
		<div class="image1"></div>
		<div class="image2"></div>
		<div class="image3"></div>
	</div>
</div>


<% @cds.each do |cd| %>
<h4>ジャケット</h4>
<%= link_to admin_cd_path(cd.id) do %>
<%= attachment_image_tag cd, :jacket, :fill, 300, 300, fallback: "no_cd_image.png" %>
<% end %>
<h4>タイトル</h4>
<td><%= link_to cd.title, admin_cd_path(cd.id) %></td>
<%= cd.title %>
<h4>アーティスト</h4>
<% cd.artists.each do |artist| %>
<%= artist.artist %>
<% end %>
<h4>レーベル</h4>
<%= cd.label %>
<h4>ジャンル</h4>
<%= cd.genre %>
<h4>販売ステータス</h4>
<%= cd.sales_status %>
<h4>値段</h4>
<%= cd.price %>
<h4>消費税</h4>
<%= cd.consumption_tax %>
<div class="between"></div>
<%= link_to "詳細", cd_path(cd.id) %>
<% end %>
