<div class="container">
	<h1>購入履歴詳細</h1>
		<div class="row">
			<% @receipts.each do |receipt| %>
			<table class="table table-striped">
				<tbody>
					<tr class="success">
						<th>購入日</th><th><%= receipt.created_at.strftime("%Y-%m-%d") %></th>
					</tr>
					<% receipt.orders.each do |order| %>
					<tr class="success">
						<th>商品タイトル</th><th><%= order.cd.title %></th>
					</tr>
					<tr class="success">
						<th>アーティスト</th><th>
						<% order.cd.artists.each do |artist| %>
							<%= artist.artist %>
						<% end %>
						</th>
					</tr>
					<tr class="success">
						<th>購入枚数</th><th><%= order.order_number %></th>
					</tr>
					<tr class="success">
						<th>金額</th><th><%= order.cd.price * order.cd.consumption_tax %></th>
					</tr>
					<% end %>
					<tr class="success">
						<th>送料</th><th><%= receipt.postage %></th>
					</tr>
					<tr class="success">
						<th>合計金額</th><th><%= receipt.sum_price %></th>
					</tr>
					<tr class="success"r>
						<th>送付先</th><th><%= receipt.house %></th>
					</tr>
					<tr class="success">
						<th>配送状況</th><th><%= receipt.order_status %></th>
					</tr>
				</tbody>
			</table>
			<% end %>
			<%= paginate @receipts %>
		</div>
</div>