<div class="cintainer">
  <div class="row">
    <h2>お客様情報</h2>
      <table class="table table-striped">
        <tbody>
          <tr>
	         <th><p>氏名</p></th>
	           <th><p class="user_name"><%= @enduser.last_name %></p></th>
              <th><p class="user_name"><%= @enduser.first_name %></p></th>
          </tr>
          <tr>
            <th><p>氏名(かな)</p></th>
            <th><p class="user_name"><%= @enduser.last_name_kana %></p></th>
            <th><p class="user_name"><%= @enduser.first_name_kana %></p></th>
          </tr>
          <tr>
	          <th><p>郵便番号</p></th>
	          <th><p class="postal_code"><%= @enduser.postal_code %></p></th>
          </tr>
          <tr>  
      	    <th><p>住所</p></th>
      	    <th><p class="user_address"><%= @enduser.user_address %></p></th>
          </tr>
          <tr>
      	   <th><p>電話番号</p></th>
      	   <th><p class="user_tell"><%= @enduser.user_tell %></p></th>
          </tr>
          <tr>
      	   <th><p>メールアドレス</p></th>
      	   <th><p class="user_email"><%= @enduser.email %></p></th>
          </tr>
        </tbody>
      </table>
        <%= link_to enduser_addresses_path(@enduser), class: 'btn-default' do %>
          <%= '送付先情報一覧' %>
        <% end %>
        <%= link_to edit_enduser_path(@enduser), class: 'btn-default' do %>
          <%= 'お客様情報編集' %>
          <button type="button" class="btn btn-default btn-block" ><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></button>
        <% end %>
  </div>
  <div class="row">
    <h2>購入履歴</h2>
      <% @receipts.each do |receipt| %>
        <table class="table table-striped">
          <tbody>
            <tr>
              <th>購入日</th><th><%= receipt.created_at.strftime("%Y-%m-%d") %></th>
            </tr>
            <% receipt.orders.each do |order| %>
            <tr>
              <th>タイトル</th><th><%= order.cd.title %></th>
            </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
      <%= paginate @receipts %>
  </div>
</div>
