<div class="container">
  <div class="row">
    <div style="padding: 10px; margin-top: 20px; margin-bottom: 10px; border: 1px solid #3cb371; border-radius: 10px;">
    <h2>お客様情報</h2>
      <table class="table table-striped">
        <tbody>
          <tr style="background-color:#f5f5f5">
	         <th><p>氏名</p></th>
	           <th><%= @enduser.last_name %></th>
              <th><%= @enduser.first_name %></th>
          </tr>
          <tr style="background-color:#f5f5f5">
            <th>氏名(かな)</th>
            <th><%= @enduser.last_name_kana %></th>
            <th><%= @enduser.first_name_kana %></th>
          </tr>
          <tr style="background-color:#f5f5f5">
	          <th>郵便番号</th>
	          <th><%= @enduser.postal_code %></th><th></th>
          </tr>
          <tr style="background-color:#f5f5f5">
      	    <th>住所</th>
      	    <th><%= @enduser.user_address %></th><th></th>
          </tr>
          <tr style="background-color:#f5f5f5">
      	   <th>電話番号</th>
      	   <th><%= @enduser.user_tell %></th><th></th>
          </tr>
          <tr style="background-color:#f5f5f5">
      	   <th>メールアドレス</th>
      	   <th><%= @enduser.email %></th><th></th>
          </tr>
        </tbody>
      </table>
        <%= link_to enduser_addresses_path(@enduser), class: 'btn-default' do %>
          <%= '送付先情報一覧' %>
        <% end %>
        <%= link_to edit_enduser_path(@enduser), class: 'btn-default' do %>
          <%= 'お客様情報編集' %>
          <button type="button" class="btn btn-default btn-block" ><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></button>
        <% end %>
  </div>
  <div class="row">
    <div style="padding: 10px; margin-top: 20px; margin-bottom: 10px; border: 1px solid #3cb371; border-radius: 10px;">
    <h2>購入履歴</h2>
      <% @receipts.each do |receipt| %>
        <table class="table table-striped">
          <tbody>
            <tr style="background-color:#f5f5f5">
              <th>購入日</th><th><%= link_to receipt.created_at.strftime("%Y-%m-%d"), history_path %></th>
            </tr>
            <% receipt.orders.each do |order| %>
            <tr style="background-color:#f5f5f5">
              <th>タイトル</th><th><%= order.cd.title %></th>
            </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
      <%= paginate @receipts %>
    </div>
  </div>
</div>
