  <!-- 購入時売り切れてたら表示される -->
   <% if flash[:buyerror] %>
    <p><%= flash[:buyerror] %></p>
   <% end %>
   <div class="container">
    <div class="row">
     <h1 class="center-cd margin-bottom2">カート一覧</h1>
    <div class="col-md-2 col-xs-2">
     <% @carts.each do |cart| %>
      <%= attachment_image_tag cart.cd , :jacket, :fill, 100, 100, fallback: "no_cd_image_fill100.png", class: 'margin-bottom' %>
     <br>
    <% end %>
   </div>
   <div class="col-md-2 col-xs-2">
    <% @carts.each do |cart| %>
     <h4 class="origin">アーティスト</h4>
      <% cart.cd.artists.each do |artist| %>
       <%= artist.artist %>
      <% end %>
     <div class="margin-bottom2"></div>
    <% end %>
   </div>
   <div class="col-md-2 col-xs-2">
    <% @carts.each do |cart| %>
     <h4 class="origin">タイトル</h4>
      <%= cart.cd.title %>
       <div class="margin-bottom2"></div>
      <% end %>
     </div>
     <div class="col-md-3 col-xs-3">
      <% @carts.each do |cart| %>
       <!-- total = 税込価格      totalcds = cdの数量を反映した時の金額  -->
        <% total = cart.cd.price * cart.cd.consumption_tax %>
         <p class="moneyfont">小計¥<%=  totalcd = total.floor * cart.cartnumber %>円</p>
          <%=form_for [cart.cd,cart], url: cd_cart_path(cart.cd.id,cart), method: :patch do |f| %>
           <%=f.number_field :cartnumber %>
           <%=f.submit "数量変更", class: 'btn btn-success' %>
          <p class="deletecartbtn"><%=link_to '削除', cd_cart_path(cart.cd.id, cart.id),method: :delete, class: 'btn btn-danger' %></p>
         <% end %>
        <% end %>
       </div>
      <div class="col-md-2 col-xs-2">
      <% array = [] %>
       <% @carts.each do |cart| %>
        <% total = cart.cd.price * cart.cd.consumption_tax %>
         <%  totalcd = total.floor * cart.cartnumber %>
          <% array << totalcd %>
         <% end %>
        <h4 class="origin">合計金額¥<%= array.sum %></h4>
       <br>
        <a href="/carts/show" class="btn btn-danger btn-lg active margin-bottom">購入手続きへ進む</a>
        <a href="/" class="btn btn-default active shoppingbtn">ショッピングを続ける</a>
       <% if flash[:alert] %>
        <div class="alert alert-danger">
         <%= flash[:alert] %>
        </div>
       <% end %>
      </div>
      <div class="col-md-1 col-xs-1"></div>
     </div>
    </div>
