
  <h1>注文内容を確認・変更する</h1>

  <h4>支払い方法の選択</h4>
  <%= form_with(model: @receipts, local: true) do |form| %>
    <%= form.radio_button :payment, :bank %>
    <%= form.label :payment, '銀行振込', {value: :bank, style: "display: inline-block;"} %>
    <%= form.radio_button :payment, :kurejittokado %>
    <%= form.label :payment, 'クレジットカード', {value: :kurejittokado, style: "display: inline-block;"} %>
    <%= form.radio_button :payment, :daibiki %>
    <%= form.label :payment, '代引き', {value: :daibiki, style: "display: inline-block;"} %>
    <%= form.hidden_field :order_status %>

  <h4>配送先選択</h4>
  <h4>既存の登録先住所</h4>
  <%= current_enduser.user_address %>
    <%# <%= form.text_area :user_address, :placeholder => "#{current_enduser.user_address}" %> %>
    <br>
    <%= submit_tag %>

  <h3>注文内容</h3>

  <h4>小計</h4>
  <% array = [] %>
  <% @carts.each do |cart| %>
  <% total = cart.cd&.price * cart.cd&.consumption_tax %>
  <p>¥<%=  totalcd = total.floor * cart.cartnumber %>（税込）</p>
  <% array << totalcd %>
  <% end %>
  <%= array.sum %>円
  <%# <%= form.hidden_field :sum_price, value: @receipt.sum_price %> %>
  <%# <%= hidden_field_tag :sum_price, @receipt.sum_prices %> %>
  <h4>配送料</h4>
  <%= form.hidden_field :postage %>
  <p>500円</p>
  <h2>注文内容合計</h2>
  <p style="color: #e82357e3; font-weight: bold; font-size: 30px;">¥<%= array.sum + 500 %>円!!!!!!</p>
  <% end %>


<h1>注文内容確認</h1>

<% array = [] %>
<% @carts.each do |cart| %>
  <!-- total = 税込価格      totalcds = cdの数量を反映した時の金額  -->
  <% total = cart.cd.price * cart.cd.consumption_tax %>
  <p>¥<%=  totalcd = total.floor * cart.cartnumber %>（税込）</p>
  <%= cart.cd.artist_id %>
  <% array << totalcd %>
<% end %>

<h2>送付先情報</h2>

<table class="table">

    <tbody>
      <tr>
	      <th><p>name</p></th>
	      <th><p class="user_name"><%= @enduser.last_name %></p></th>
          <th><p class="user_name"><%= @enduser.first_name %></p></th>
          <th><p class="user_name"><%= @enduser.last_name_kana %></p></th>
          <th><p class="user_name"><%= @enduser.first_name_kana %></p></th>
      </tr>

      <tr>
	      <th><p>郵便番号</p></th>
	      <th><p class="postal_code"><%= @enduser.postal_code %></p></th>
      </tr>

      <tr>
      	  <th><p>住所</p></th>
      	  <th><p class="user_address"><%= @enduser.user_address %></p></th>
      </tr>

      <tr>
      	  <th><p>電話番号</p></th>
      	  <th><p class="user_tell"><%= @enduser.user_tell %></p></th>
      </tr>

      <tr>
      	  <th><p>メールアドレス</p></th>
      	  <th><p class="user_email"><%= @enduser.email %></p></th>
      </tr>

    </tbody>

  </table>
        <%= link_to edit_enduser_path(@enduser), class: 'btn-default' do %>
        <button type="button" class="btn btn-default btn-block"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></button>
        <% end %>

<h2>支払い方法</h2>

  <%= array.sum %>

