<div class="container">
  <h1 style="margin-bottom: 50px;">新規会員登録</h1>
    <div style="padding: 10px; margin-top: 20px; margin-bottom: 10px; border: 1px solid #3cb371; border-radius: 10px; text-align:center; background-color: #f5f5f5;">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

  <!-- 氏名（漢字・カナ） -->
    　<div class="field">
      <div style="margin-bottom: 10px;">
          <%= f.label :氏 %><br />
          <%= f.text_field :last_name, autofocus: true %>
      </div>
      </div>

      <div class="field">
      <div style="margin-bottom: 10px;">
          <%= f.label :名 %><br />
          <%= f.text_field :first_name, autofocus: true %>
      </div>
      </div>

      <div class="field">
      <div style="margin-bottom: 10px;">
          <%= f.label :氏（かな） %><br />
          <%= f.text_field :last_name_kana, autofocus: true %>
      </div>
      </div>

      <div class="field">
      <div style="margin-bottom: 10px;">
          <%= f.label :名（かな） %><br />
          <%= f.text_field :first_name_kana, autofocus: true %>
      </div>
      </div>

      <!-- 郵便番号 -->
      <div class="field">
      <div style="margin-bottom: 10px;">
          <%= f.label :郵便番号 %><br />
          <%= f.text_field :postal_code, autofocus: true %>
      </div>
      </div>

      <!-- 住所 -->
      <div class="field">
      <div style="margin-bottom: 10px;">
          <%= f.label :住所 %><br />
          <%= f.text_field :user_address, autofocus: true %>
      </div>
      </div>

      <!-- 電話番号 -->
      <div class="field">
      <div style="margin-bottom: 10px;">
          <%= f.label :電話番号 %><br />
          <%= f.text_field :user_tell, autofocus: true %>
      </div>
      </div>

      <!-- メールアドレス -->
      <div class="field">
      <div style="margin-bottom: 10px;">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      </div>

      <!--パスワード-->
      <div class="field">
      <div style="margin-bottom: 10px;">
        <%= f.label :パスワード %>
        <% if @minimum_password_length %>
        <em>(最少<%= @minimum_password_length %>文字)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
      </div>

      <div class="field">
      <div style="margin-bottom: 10px;">
        <%= f.label :パスワード（確認） %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      </div>

      <div class="actions">
      <div style="margin-bottom: 10px;">
        <%= f.submit "会員登録", class: "btn btn-primary" %>
      </div>
      </div>
        <% end %>
    <%= render "endusers/shared/links" %>
    </div>
</div>
