<!DOCTYPE html>
<html>
  <head>
    <title>Otodoke</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
      <nav class="navbar navbar-inverse">

      <div class="container">
        <div class="row">

              <div class="col-xs-6">
                <h3><p class="text-light">Otodoke</p></h3>
              </div>
                <div class="col-xs-6">

              <% if enduser_signed_in? %>
                <ul class="list-inline">
                  <li><%= link_to sanitize('<i class="glyphicon glyphicon-home"></i> ') + ' Home', cds_path %>
                  </li>
                  <li><%= link_to sanitize('<i class="glyphicon glyphicon-user"></i> ') + ' My Page', enduser_path(current_enduser.id) %>
                  </li>
                  <li><%= link_to sanitize('<i class="glyphicon glyphicon-cd"></i> ') + ' Cart', carts_index_path %>
                    </li>
                  <li><%= link_to sanitize('<i class="glyphicon glyphicon-log-out"></i> ') + ' Logout', destroy_enduser_session_path, method: :delete %>
                  </li>
                  <li><%= link_to sanitize('<i class="glyphicon glyphicon-trash"></i> ') + "退会", enduser_registration_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "pull-denger", class: "btn btn-danger btn-xs" %>
                  </li>
                </ul>
              <% elsif admin_signed_in? %>
                <ul class="list-inline">
                  <li><%= link_to "ユーザー情報", admins_index_path %></li>
                  <li><%= link_to "商品情報", admin_cds_path %></li>
                  <li><%= link_to "注文一覧", orders_index_path %></li>
                  <li><%= link_to "新規商品追加",  new_admin_cd_path %></li>
                  <li><%= link_to "入荷履歴確認", admin_cds_path %></li>
                  <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
                </ul>
              <% else %>
                <ul class="list-inline">
                  <li><%= link_to sanitize('<i class="glyphicon glyphicon-home"></i> ') + ' Home', root_path %>
                  </li>
                  <li><%= link_to sanitize('<i class="glyphicon glyphicon-edit"></i> ') + ' sign up', new_enduser_registration_path %>
                  </li>
                  <li><%= link_to sanitize('<i class="glyphicon glyphicon-log-in"></i> ') + ' login', enduser_session_path %>
                  </li>
                </ul>
              <% end %>
          </div>
        </div>
      </div>
    </nav>
      </header>
    <%= yield %>
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-xs-9"></div>
            <div class="col-xs-3">
              <p>Otodoke.inc</p>
            </div>
          </div>
        </div>
      </footer>
  </body>
</html>
